<section data-ng-controller="ReglementsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Reglements</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="reglement in reglements" data-ng-href="#!/reglements/{{reglement._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Cree
				<span data-ng-bind="reglement.created | date:'medium'"></span>
				par
				<span data-ng-bind="reglement.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="reglement.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!reglements.$resolved || reglements.length">
    	Aucun Reglements n'existe,  creez en un ... <a href="/#!/reglements/create"> OK </a>?
    </div>
</section>