<section ng-controller="ParseController" class="container" data-ng-init="">
	<div class="page-header">
		<h1>File parser</h1>
	</div>

    <div >
      <h1>Select text file</h1>
        <input type="file" on-read-file="showContent($fileContent)" />

      <div ng-if="content">
          
          <br>longueur: {{longfile}}
          <br>index trouve: {{idx}}
          <br>in routine : {{inroutine}}
          <br>chaine : {{chaine}}
          <form id="form1">
            locataire: <input type="text" ng-model="locataire"><br>
            numero contrat: <input type="text" ng-model="numerocontrat"><br>
            chaine a trouver: <input type="text" ng-model="chaine"><br>
          </form>

          <button type="submit" form="form1" value="Submit">Submit</button> 

          <button ng-click="indexString()">indexation</button>  
          
          <h2>File content is:</h2>     
          <pre>{{ content }}</pre>


      </div>

    </div>

</section>