<section data-ng-controller="StatistiquesController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="statistique.name"></h1>
	</div>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == statistique.user._id))">
		<a class="btn btn-primary" href="/#!/statistiques/{{statistique._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Poste de
			<span data-ng-bind="statistique.created | date:'mediumDate'"></span>
			par
			<span data-ng-bind="statistique.user.displayName"></span>
		</em>
	</small>
</section>
