<section data-ng-controller="ContratsController">
    <div class="page-header">
        <h1>Nouveau Contrat</h1>
    </div>
    <div class="col-md-6" >
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group" "well">
                   

                  <label class="control-label" for="bu">BU</label>
                    <div class="controls">
                        <input type="text" data-ng-model="bu" id="bu" class="form-control" placeholder="bu" required >
                        <input type="radio" ng-model="bu" value= "EVL" />Evoliance
                        <input type="radio" ng-model="bu" value= "UBS" />Ubique systemes
                        <input type="radio" ng-model="bu" value= "HBO" />Hub One
                    </div>

                    <label class="control-label" for="name">Nom</label>
                    <div class="controls">
                        <input type="text" data-ng-model="name" id="name" class="form-control"  placeholder="Nom contrat" value="nom" required >
                    </div>

                    <label class="control-label" for="ctrtnum">numero contrat</label>
                    <div class="controls">
                        <input type="number" min=1000 max=9999 data-ng-model="ctrtnum" id="ctrtnum" class="form-control" placeholder="Numero contrat" value=0 required>
                    </div>
                    
                    <label class="control-label" for="locataire">locataire</label>
                    <div class="controls">
                        <input type="text" data-ng-model="locataire" id="locataire" class="form-control" placeholder="locataire" required>
                    </div>

                    <label class="control-label" for="refinanceur">refinanceur</label>
                    <div class="controls">
                        <input type="text" data-ng-model="refinanceur" id="refinanceur" class="form-control" placeholder="refinanceur" required>
                        <input type="radio" ng-model="refinanceur" value="Siemens" />Siemens
                        <input type="radio" ng-model="refinanceur" value="Ge Cap" />Ge capital
                        <input type="radio" ng-model="refinanceur" value="Leascom" />Leascom
                        <input type="radio" ng-model="refinanceur" value="LorEquip" />LorEquip<br />
                    </div>
                    <label class="control-label" for="consultant">consultant</label>
                    <div class="controls">
                        <input type="text" data-ng-model="consultant" id="consultant" class="form-control" placeholder="consultant" required >
                        <input type="radio" ng-model="consultant" value= "pake" />Pake
                        <input type="radio" ng-model="consultant" value= "mali" />Mali
                        <input type="radio" ng-model="consultant" value= "chde" />Chde
                    </div>

                    <label class="control-label" for="partenaire">partenaire</label>
                    <div class="controls">
                        <input type="text" data-ng-model="partenaire" id="partenaire" class="form-control" placeholder="partenaire" required>
                    </div>
           
                    <label class="control-label" for="duree">duree</label>
                    <div class="controls">
                        <input type="text" data-ng-model="duree" id="duree" class="form-control" placeholder="duree" required>
                        <input type="radio" ng-model="duree" value= 24 />24
                        <input type="radio" ng-model="duree" value= 30 />30
                        <input type="radio" ng-model="duree" value= 36 />36
                        <input type="radio" ng-model="duree" value= 42 />42
                        <input type="radio" ng-model="duree" value= 48 />48
                        <input type="radio" ng-model="duree" value= 60 />60
                        <input type="radio" ng-model="duree" value= 72 />72
                        <br />
                    </div>

                    <label class="control-label" for="periodicite">periodicite</label>
                    <div class="controls">
                        <input type="text" data-ng-model="periodicite" id="periodicite" class="form-control" placeholder="periodicite" required>
                        <input type="radio" ng-model="periodicite" value= "mens" />Mensuel
                        <input type="radio" ng-model="periodicite" value= "tri" />Trimestriel
                    </div>

                    <label class="control-label" for="nbperiode">nbperiode</label>
                    <div class="controls">
                        <input type="text" data-ng-model="nbperiode" id="nbperiode" class="form-control" placeholder="nbperiode" required>
                    </div>

                    <label class="control-label" for="loyer">loyer</label>
                    <div class="controls">
                        <input type="text" data-ng-model="loyer" id="loyer" class="form-control" placeholder="loyer" required>
                    </div>
                    
<!-- drf selection -->                    
                    <label class="control-label" for="drfnum">drfnum</label>
                    <div class="controls">
                        <input type="number" min=1000 max=9999 data-ng-model="drfnum" id="drfnum" class="form-control" placeholder="Numero drf" value=0 required>
                    </div>
                    <select ng-model="drfnum" ng-options="drfnum as refinancement.drfnum for refinancement in Refinancements">
                    <option value="">selection un num drfnum</option>            
                    </select>
                    <br/>
<!-- extract | orderBy:'ctrtnum' | filter:{consultant:'pake'}  selection -->                     






<!-- fieco selection -->                 
                    <label class="control-label" for="econum">econum</label>
                    <div class="controls">
                        <input type="number" min=1000 max=9999 data-ng-model="econum" id="econum" class="form-control" placeholder="Numero fieco" value=0 required>
                    </div>
                    <select name="seleconum" ng-model="seleconum" ng-options="ecomony.econum for ecomony in Ecomonies">
                     <option value="">Sélectionnez un num Econum</option>
                    </select>
                    <br/>

      
                   <label class="control-label" for="etatrefinct">etatrefinct</label>
                    <div class="controls">
                        <input type="text" data-ng-model="etatrefinct" id="etatrefinct" class="form-control" placeholder="etatrefinct" required>
                        <input type="radio" ng-model="etatrefinct" value= 'non defini' />non defini
                        <input type="radio" ng-model="etatrefinct" value= "attente reponse" />encours
                        <input type="radio" ng-model="etatrefinct" value= "attente pieces" />attente pieces
                        <input type="radio" ng-model="etatrefinct" value= "accord partiel" />accord partiel
                        <input type="radio" ng-model="etatrefinct" value= "accord conditionnel" />accord conditionnel
                        <input type="radio" ng-model="etatrefinct" value= "accord complet"/>accord complet
                        <input type="radio" ng-model="etatrefinct" value= "refus 1er" />refus 1er
                        <input type="radio" ng-model="etatrefinct" value= "refus definitif" />refus definitif
                        <br />
                    </div>

    
                   <label class="control-label" for="etatcession">etatcession</label>
                    <div class="controls">
                        <input type="text" data-ng-model="etatcession" id="etatcession" class="form-control" placeholder="etatcession" required>
                        <input type="radio" ng-model="etatcession" value= 'non defini' />non defini
                        <input type="radio" ng-model="etatcession" value= 'autoporte' />autoporte
                        <input type="radio" ng-model="etatcession" value= 'prorata' />prorata
                        <input type="radio" ng-model="etatcession" value= 'cede' />cede
                        <input type="radio" ng-model="etatcession" value= 'rachete' />rachete

                        <br />
                    </div>
    
                   <label class="control-label" for="etatdenonc">etatdenonc</label>
                    <div class="controls">
                        <input type="text" data-ng-model="etatdenonc" id="etatdenonc" class="form-control" placeholder="etatdenonc" required>
                        <input type="radio" ng-model="etatdenonc" value= 'non defini' />non defini
                        <input type="radio" ng-model="etatdenonc" value= 'denonce valide' />denonce valide
                        <input type="radio" ng-model="etatdenonc" value= 'denonce tardive' />denonce tardive
                        <input type="radio" ng-model="etatdenonc" value= 'non denonce' />non denonce
                        <input type="radio" ng-model="etatdenonc" value= 'hors delais' />delais denonce depasse

                        <br />
                    </div>


                   <label class="control-label" for="etatvie">etatvie</label>
                    <div class="controls">
                        <input type="text" data-ng-model="etatvie" id="etatvie" class="form-control" placeholder="etatvie" required>
                        <input type="radio" ng-model="etatvie" value= 'non defini' />non defini
                        <input type="radio" ng-model="etatvie" value= 'montage' />montage
                        <input type="radio" ng-model="etatvie" value= 'creation' />creation 
                        <input type="radio" ng-model="etatvie" value= 'cession' />cession 
                        <input type="radio" ng-model="etatvie" value= 'normal' />normal
                        <input type="radio" ng-model="etatvie" value= 'evolution' />evolution
                        <input type="radio" ng-model="etatvie" value= 'fin de contrat' />fin de contrat
                        <input type="radio" ng-model="etatvie" value= 'prolong' />prolong
                        <input type="radio" ng-model="etatvie" value= 'cloture' />cloture
                        <input type="radio" ng-model="etatvie" value= 'remplace' />annu remplace

                        <br />
                    </div>

                    <label class="control-label" for="ctrtdsignature">ctrtdsignature</label>
                    <div class="controls">
                        <input type="date" data-ng-model="ctrtdsignature" id="ctrtdsignature" class="form-control" placeholder="Date sign pv contrat" required>
                    </div>

                    <label class="control-label" for="ctrtddebut">ctrtddebut</label>
                    <div class="controls">
                        <input type="date" data-ng-model="ctrtddebut" id="ctrtddebut" class="form-control" placeholder="Date debut contrat piece complete" >
                    </div>

                    <label class="control-label" for="ctrtdcession">ctrtdcession</label>
                    <div class="controls">
                        <input type="date" data-ng-model="ctrtdcession" id="ctrtdcession" class="form-control" placeholder="Date cession contrat" >
                    </div>

                    <label class="control-label" for="crtrtdlim">crtrtdlim</label>
                    <div class="controls">
                        <input type="date" data-ng-model="crtrtdlim" id="crtrtdlim" class="form-control" placeholder="Date limite denonc contrat" >
                    </div>

                    <label class="control-label" for="ctrtdfin">ctrtdfin</label>
                    <div class="controls">
                        <input type="date" data-ng-model="ctrtdfin" id="ctrtdfin" class="form-control" placeholder="Date fin nominale contrat" >
                    </div>

                    <label class="control-label" for="ctrtddenonc">ctrtddenonc</label>
                    <div class="controls">
                        <input type="date" data-ng-model="ctrtddenonc" id="ctrtddenonc" class="form-control" placeholder="Date denonc effective contrat" >
                    </div>

                    <label class="control-label" for="ctrtdcloture">ctrtdcloture</label>
                    <div class="controls">
                        <input type="date" data-ng-model="ctrtdcloture" id="ctrtdcloture" class="form-control" placeholder="Date cloture contrat" >
                    </div>

                    <label class="control-label" for="ctrtcommentaire">commentaire</label>
                    <div class="controls">
                        <textarea name="ctrtcommentaire" data-ng-model="ctrtcommentaire" id="ctrtcommentaire" class="form-control" cols="30" rows="10" placeholder="Commentaire"></textarea>
                    </div>
              
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
                       <div class="well" ng-repeat="contrat in Contrats">
                        {{contrat.id.ctrtnum}}{{contrat.locataire}}
                        </div>
                        <div class="well" ng-repeat="contrat in contrats">
                        {{contrat.id.ctrtnum}}{{contrat.locataire}}
                        </div>

        </form>
    
            
 





    </div>
</section>

<section>
                <div class="well">
                ctrtlght{{contrat.length}}
                ctrtslght{{contrats.length}}
                ctrtnum{{$scope.ctrtnum}}
                ctrtnum{{ctrtnum}}
                ctrtnum{{contrat.ctrtnum}}
                ctrtnum{{contrats.ctrtnum}}
                ctrtnum{{contrats(1).ctrtnum}}
                ctrtnum{{contrats(id).ctrtnum}}
                ctrtnum{{contrats[1].ctrtnum}}
                ctrtnum{{contrats[id].ctrtnum}}
                </div>

               <div class="well" ng-repeat="contrat in $scope.contrats">
                    {{contrat.ctrtnum}}{{contrat.id}}
                    </div>
                    <div class="well" ng-repeat="refinancement in $scope.refinancements">
                    {{refinancement.drfnum}}{{refinancement.id}}
                    </div>
                    <div class="well" ng-repeat="economy in $scope.economies">
                    {{economy.econum}}{{economy.id}}
                    </div>

</section>