<section data-ng-controller="SocietesController">
    <div class="page-header">
        <h1>Nouvelle Societe</h1>
    </div>
    <div class="col-md-6">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
 

                <div class="form-group well">
                    
                    <label class="control-label" for="stenom">Raison sociale*</label>
                    <div class="controls">
                        <input type="text" data-ng-model="stenom" id="stenom" class="form-control"  placeholder="stenom" value="stenom" required >
                    </div>

                    <label class="control-label" for="stegrp">groupe</label>
                    <div class="controls">
                        <input type="text" data-ng-model="stegrp" id="stegrp" class="form-control"  placeholder="stegrp" value="stegrp"  >
                    </div>

                    <label class="control-label" for="siren">siren*</label>
                    <div class="controls">
                        <input type="number" min=99999999 max=999999999 data-ng-model="siren" id="siren" class="form-control" placeholder="Numero siren" value=987654321 required>
                    </div>
                    

                    <label class="control-label" for="steformsoc">forme sociale*</label>
                    <div class="controls">
                        <input type="text" data-ng-model="steformsoc" id="steformsoc" class="form-control" placeholder="steformsoc" required>
                        <input type="radio" ng-model="steformsoc" value="SARL" />SARL
                        <input type="radio" ng-model="steformsoc" value="SA" />SA
                        <input type="radio" ng-model="steformsoc" value="SAS" />SAS
                        <input type="radio" ng-model="steformsoc" value="SNC" />SNC
                        <input type="radio" ng-model="steformsoc" value="EI" />EI
                        <input type="radio" ng-model="steformsoc" value="EURL" />EURL
                        <input type="radio" ng-model="steformsoc" value="SASU" />SASU
                        <input type="radio" ng-model="steformsoc" value="SCP" />SCP
                        <input type="radio" ng-model="steformsoc" value="SELARL" />SELARL
                        <input type="radio" ng-model="steformsoc" value="SELAS" />SELAS
                    </div>

                    <label class="control-label" for="stedcreat">date creation</label>
                    <div class="controls">
                        <input type="date" data-ng-model="stedcreat" id="stedcreat" class="form-control" placeholder="Date creation" >
                    </div>

                    <label class="control-label" for="capsoc">capital social</label>
                    <div class="controls">
                        <input type="text" data-ng-model="capsoc" id="capsoc" class="form-control" placeholder="capsoc" >
                    </div>

                    <label class="control-label" for="stedcloture">date cloture bilan</label>
                    <div class="controls">
                        <input type="date" data-ng-model="stedcloture" id="stedcloture" class="form-control" placeholder="Date cloture exercice" >
                    </div>

                    <label class="control-label" for="ca">dernier chiffre affaire</label>
                    <div class="controls">
                        <input type="text" data-ng-model="ca" id="ca" class="form-control" placeholder="dernier ca" >
                    </div>

                    <label class="control-label" for="can">avant dernier chiffre affaire</label>
                    <div class="controls">
                        <input type="text" data-ng-model="can" id="can" class="form-control" placeholder="avant dernier ca" >
                    </div>

                    <label class="control-label" for="rn">dernier resultat net</label>
                    <div class="controls">
                        <input type="text" data-ng-model="rn" id="rn" class="form-control" placeholder="dernier rn" >
                    </div>

                    <label class="control-label" for="rnn">avant dernier resultat net</label>
                    <div class="controls">
                        <input type="text" data-ng-model="rnn" id="rnn" class="form-control" placeholder="avant dernier rn" >
                    </div>

                    <label class="control-label" for="banquepal">banque principale</label>
                    <div class="controls">
                        <input type="text" data-ng-model="banquepal" id="banquepal" class="form-control" placeholder="banquepal" >
                        <input type="radio" ng-model="banquepal" value= "bnp" />BNP
                        <input type="radio" ng-model="banquepal" value= "ca" />CA
                        <input type="radio" ng-model="banquepal" value= "bpce" />BPCE
                        <input type="radio" ng-model="banquepal" value= "sg" />SG
                        <input type="radio" ng-model="banquepal" value= "bp" />BP-CCP
                        <input type="radio" ng-model="banquepal" value= "cm" />CM-CIC
                        <input type="radio" ng-model="banquepal" value= "ing" />ING
                        <input type="radio" ng-model="banquepal" value= "hsbc" />HSBC
                        <input type="radio" ng-model="banquepal" value= "brcl" />BARKLAYS
                        <input type="radio" ng-model="banquepal" value= "intesa" />INTESA-SP
                        <input type="radio" ng-model="banquepal" value= "abn" />ABN
                        <input type="radio" ng-model="banquepal" value= "ubs" />UBS
                    </div>
                    <label class="control-label" for="banquesec">banque secondaire</label>
                    <div class="controls">
                        <input type="text" data-ng-model="banquesec" id="banquesec" class="form-control" placeholder="banquesec" >
                        <input type="radio" ng-model="banquesec" value= "bnp" />BNP
                        <input type="radio" ng-model="banquesec" value= "ca" />CA
                        <input type="radio" ng-model="banquesec" value= "bpce" />BPCE
                        <input type="radio" ng-model="banquesec" value= "sg" />SG
                        <input type="radio" ng-model="banquesec" value= "bp" />BP-CCP
                        <input type="radio" ng-model="banquesec" value= "cm" />CM-CIC
                        <input type="radio" ng-model="banquesec" value= "ing" />ING
                        <input type="radio" ng-model="banquesec" value= "hsbc" />HSBC
                        <input type="radio" ng-model="banquesec" value= "brcl" />BARKLAYS
                        <input type="radio" ng-model="banquesec" value= "intesa" />INTESA-SP
                        <input type="radio" ng-model="banquesec" value= "abn" />ABN
                        <input type="radio" ng-model="banquesec" value= "ubs" />UBS
                    </div>

                    <label class="control-label" for="stetype">relation vs evoliance*</label>
                    <div class="controls">
                        <input type="text" data-ng-model="stetype" id="stetype" class="form-control" placeholder="stetype" required>
                        <input type="radio" ng-model="stetype" value= "prospect" />prospect
                        <input type="radio" ng-model="stetype" value= "locataire" />locataire
                        <input type="radio" ng-model="stetype" value= "refinanceur" />refinanceur
                         <input type="radio" ng-model="stetype" value= "courtier" />courtier
                         <input type="radio" ng-model="stetype" value= "captive" />captive
                         <input type="radio" ng-model="stetype" value= "partenaire" />partenaire
                        <input type="radio" ng-model="stetype" value= "fournisseur" />fournisseur
                    </div>

                    <label class="control-label" for="steadresse1">adresse1</label>
                    <div class="controls">
                        <input type="text" data-ng-model="steadresse1" id="steadresse1" class="form-control" placeholder="steadresse1" >
                    </div>
           
                    <label class="control-label" for="steadresse2">adresse2</label>
                    <div class="controls">
                        <input type="text" data-ng-model="steadresse2" id="steadresse2" class="form-control" placeholder="steadresse2" >
                    </div>
           
                    <label class="control-label" for="stecp">cp</label>
                    <div class="controls">
                        <input type="number" data-ng-model="stecp" min=9999 max=99999 id="stecp" class="form-control" placeholder="stecp" >
                    </div>
           
                    <label class="control-label" for="steville">ville</label>
                    <div class="controls">
                        <input type="text" data-ng-model="steville" id="steville" class="form-control" placeholder="ville" >
                    </div>
           
                   <label class="control-label" for="stetel">telephone gal</label>
                    <div class="controls">
                        <input type="text" data-ng-model="stetel" id="stetel" class="form-control" placeholder="stetel" >
                    </div>
                  <label class="control-label" for="stefax">fax gal</label>
                    <div class="controls">
                        <input type="text" data-ng-model="stefax" id="stefax" class="form-control" placeholder="stefax" >
                    </div>
                  <label class="control-label" for="stemail">mail gal</label>
                    <div class="controls">
                        <input type="mail" data-ng-model="stemail" id="stemail" class="form-control" placeholder="stemail" >
                    </div>

                  <label class="control-label" for="mandname">nom mandataire social</label>
                    <div class="controls">
                        <input type="text" data-ng-model="mandname" id="mandname" class="form-control" placeholder="mandname" >
                    </div>
                                            
                   <label class="control-label" for="mandfonc">mandfonc</label>
                    <div class="controls">
                        <input type="text" data-ng-model="mandfonc" id="mandfonc" class="form-control" placeholder="consultant"  >
                        <input type="radio" ng-model="mandfonc" value= "pdg" />PDG
                        <input type="radio" ng-model="mandfonc" value= "gerant" />GERANT
                        <input type="radio" ng-model="mandfonc" value= "dg" />DG
                        <input type="radio" ng-model="mandfonc" value= "daf" />DAF
                        <input type="radio" ng-model="mandfonc" value= "pouvoir" />POUVOIR
                    </div>

                  <label class="control-label" for="dgname">nom directeur general</label>
                    <div class="controls">
                        <input type="text" data-ng-model="dgname" id="dgname" class="form-control" placeholder="dgname" >
                    </div>

                  <label class="control-label" for="finname">nom directeur financier</label>
                    <div class="controls">
                        <input type="text" data-ng-model="finname" id="finname" class="form-control" placeholder="finname" >
                    </div>

                  <label class="control-label" for="compname">nom directeur comptable</label>
                    <div class="controls">
                        <input type="text" data-ng-model="compname" id="compname" class="form-control" placeholder="compname" >
                    </div>

                  <label class="control-label" for="techname">nom directeur technique</label>
                    <div class="controls">
                        <input type="text" data-ng-model="techname" id="techname" class="form-control" placeholder="techname" >
                    </div>

                  <label class="control-label" for="assname">nom assistante</label>
                    <div class="controls">
                        <input type="text" data-ng-model="assname" id="assname" class="form-control" placeholder="assname" >
                    </div>

                    <label class="control-label" for="consultant">consultant*</label>
                    <div class="controls">
                        <input type="text" data-ng-model="consultant" id="consultant" class="form-control" placeholder="consultant" required >
                        <input type="radio" ng-model="consultant" value= "pake" />Pake
                        <input type="radio" ng-model="consultant" value= "mali" />Mali
                        <input type="radio" ng-model="consultant" value= "chde" />Chde
                    </div>

                    <label class="control-label" for="partenaire">partenaire</label>
                    <div class="controls">
                        <input type="text" data-ng-model="partenaire" id="partenaire" class="form-control" placeholder="partenaire" >
                    </div>

                   <label class="control-label" for="etatbdf">etatbdf</label>
                    <div class="controls">
                        <input type="text" data-ng-model="etatbdf" id="etatbdf" class="form-control" placeholder="etatbdf" >
                        <input type="radio" ng-model="etatbdf" value= 'inconnu' />inconnu
                        <input type="radio" ng-model="etatbdf" value= "excellente" />3++
                        <input type="radio" ng-model="etatbdf" value= "tres forte" />3+
                        <input type="radio" ng-model="etatbdf" value= "forte" />3
                        <input type="radio" ng-model="etatbdf" value= 'assez forte' />4+
                        <input type="radio" ng-model="etatbdf" value= "correcte" />4
                        <input type="radio" ng-model="etatbdf" value= "assez faible" />5+
                        <input type="radio" ng-model="etatbdf" value= "faible" />5
                         <input type="radio" ng-model="etatbdf" value= "tres faible"/>6
                        <input type="radio" ng-model="etatbdf" value= "incident" />7
                        <input type="radio" ng-model="etatbdf" value= "menace" />8
                        <input type="radio" ng-model="etatbdf" value= "compromise" />9
                        <input type="radio" ng-model="etatbdf" value= "procedure" />P
                        <input type="radio" ng-model="etatbdf" value= "aucune info" />0
                        <br />
                    </div>
    
                   <label class="control-label" for="etatpc">etat proc coll</label>
                    <div class="controls">
                        <input type="text" data-ng-model="etatpc" id="etatpc" class="form-control" placeholder="etatpc" >
                        <input type="radio" ng-model="etatpc" value= 'inconnu' />inconnu 
                        <input type="radio" ng-model="etatpc" value= 'aucune' />aucune 
                        <input type="radio" ng-model="etatpc" value= 'sauvegarde' />sauvegarde 
                        <input type="radio" ng-model="etatpc" value= 'redressement' />redressement
                        <input type="radio" ng-model="etatpc" value= 'liquidation' />liquidation
                        <br />
                    </div>
    
                   <label class="control-label" for="etatfi">etatfi</label>
                    <div class="controls">
                        <input type="text" data-ng-model="etatfi" id="etatfi" class="form-control" placeholder="etatfi" >
                        <input type="radio" ng-model="etatfi" value= 'excellant' />excellente
                        <input type="radio" ng-model="etatfi" value= 'bon' />bon
                        <input type="radio" ng-model="etatfi" value= 'passable' />passable
                        <input type="radio" ng-model="etatfi" value= 'faible' />faible
                        <input type="radio" ng-model="etatfi" value= 'mauvais' />mauvais
                        <input type="radio" ng-model="etatfi" value= 'tres mauvais' />très mauvais
                        <br />
                    </div>
    
                   <label class="control-label" for="incident">Incident</label>
                    <div class="controls">
                        <input type="text" data-ng-model="incident" id="incident" class="form-control" placeholder="incident" >
                        <input type="radio" ng-model="incident" value= 'aucun' />aucun
                        <input type="radio" ng-model="incident" value= 'fournisseur' />incident reglt fournisseur
                        <input type="radio" ng-model="incident" value= 'refinanceur' />incident reglt refinanceur
                        <input type="radio" ng-model="incident" value= 'evoliance' />incident reglt Evoliance
                        <br />
                    </div>



                    <label class="control-label" for="stecommentaire">commentaires</label>
                    <div class="controls">
                        <textarea name="stecommentaire" data-ng-model="stecommentaire" id="stecommentaire" class="form-control" cols="30" rows="10" placeholder="Commentaire"></textarea>
                    </div>


                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>

            </fieldset>
        </form>
    </div>
</section>

<!--    stenom: {
    stegrp: {
    siren: {
    steformsoc: {
    stedcreat: {
    capsoc: {   
    stedcloture: {
    ca: {
    can: {
    rn: {
    rnn: {
    banquepal: {
    banquesec: {
    stetype: {
    steadresse1: {
    steadresse2: {
    stecp: {
    steville: {
    stetel: {
    stefax: {
    stemail: {

    mandname: {
    mandfonc: {
    finname: {
    compname: {
    dgname: {
    techname: {
    consultant: {
    partenaire: {

etatbdf
etatpc
etatfi


    created: {
    modified: {
    user: {
--> 